[[redirects]]
from = "/.netlify/identity/*"
to = "/.netlify/identity/:splat"
status = 200

[[redirects]]
from = "/.netlify/functions/*"
to = "/.netlify/functions/:splat"
status = 200

[[redirects]]
from = "/admin"
to = "/admin-dashboard.html"
status = 200
force = true
conditions = { Role = ["admin"] }

[[redirects]]
from = "/admin/*"
to = "/admin-dashboard.html"
status = 200
force = true
conditions = { Role = ["admin"] }
